html * {
    font-family: roboto;
}

a:link {
    color: #F9FAF8;
}

a:visited {
    color: #b5b5b5;

}

body {
    height: 100%;
    margin: 0;
}

nav {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    border: none;
    flex: 1;
}

nav .logo {
        margin-left: 1%;
        font-weight: bold;
        font-size: 24px;
        flex: 1;
        text-align: 20px;
    }
nav .links {
    margin-top: 1%;
    font-size: 18px;
    display: flex;
    flex: 1;
    color: #E5E7EB;
    justify-content: center;
}

nav .links * {
    margin-left: 0.2em;
    margin-right: 0.5em;
}


.main_body {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    /*border: 2px solid pink;*/
}

.main_body * {
    flex: 1;
    /*border: 2px solid pink;*/
}

.main_body h2 {
    font-size: 48px;
    font-weight: 800;
}

.main_body p {
    font-size: 18px;
}

.main_body button {
    background-color: #3882F6;
    border: none;
    border-radius: 12px;
    padding: 5px;
    margin: 10px 1px;
    cursor: pointer;
}

.main .image {
    line-height: 11px;
    text-align: center;
}

.main_body img {
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: 3%;
    width: 85%;
    height: 240px;
    background-color: #6D737C;
    color: #F9FAF8;
    justify-content: center;
}

.RI {
    display: flex;
    border: 2px solid pink;
}

.RandomInformation h2 {
    flex: 1;
    text-align: center;
}

.SubtextImages {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

.SubtextImages * {
    flex: 1;
    font-size: 18px;
}

.SubtextImages img {
    border-radius: 15px;
    width: 100px;
    height: 100px;
    border: 3px solid #3882F6;
}

.footer {
    border: pink;
    align-self: auto;
    color: violet;
}


